.latest-post {
    background: #5e85863b;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;

    .latest {
        // background: white;
        margin: 3rem 1rem 3rem 3rem;

        .post {
            background: white;
            margin-bottom: 3px;
            padding: 1rem;
            display: flex;
            flex-direction: row;

            .post-list {
                margin-left: 1rem;
                a {
                    text-decoration: none;
                }
                .post-header {
                    cursor: move;
                    p,
                    h3 {
                        margin: 0;
                    }
                }
                .post-body {
                    width: 50vw;
                    display: grid;
                    grid-template-columns: 60% 40%;
                    margin-top: 5px;

                    .comment-vote {
                        display: flex;
                        flex-wrap: nowrap;

                        .comment,
                        .vote {
                            width: 50%;

                            img {
                                position: absolute;
                            }

                            span {
                                margin-left: 2rem;
                            }
                        }
                    }

                    .edit-delete {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;

                        .edit {
                            margin-right: 1rem;
                            border: 1px solid #ccc;
                            width: 54px;
                            text-align: center;
                            height: 21px;
                            border-radius: 5px;
                        }

                        .delete > form {
                            input {
                                margin-right: 1rem;
                                background: white;
                                color: red;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    .user-info {
        background: white;
        margin: 3rem 3rem 3rem 1rem;
    }
}
