.post-detail {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    height: 100vh;
   
    .post {
        border-top: 1px solid #cccccc;
        height: max-content;
        background: white;
        padding:0.5rem 0rem 0rem 3rem;
        flex-direction: row;

        .user-info{
            background: white;
            margin:0 !important;    
            display: flex;

            .photo{
                width: 50px;
                height: 50px;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }

            }

            .name{
                padding-left:15px;
            }
        }

        .post-info{
            display:flex;
            .like-comment{
                width:50px;
                text-align: center;
                padding-top:10px;

                .like{
                    form {
                        margin-top:-26px;
                        z-index: 1;
                        input[type="submit"] {
                            width: 25px;
                            opacity: 0;
                            cursor: move;
                        }
                    }
                    p{
                        margin:0;
                    }
                }

                .comment{
                    padding-top:10px;
                    p{
                        margin:0;
                    }
                }

            }

            .save{
                margin-top: 10px;
                position: absolute;
                margin-left: 9px;
            }

            .detail-post{
                padding-left:15px;

                h3{
                    margin:0;
                    padding-top:10px;
                    span {
                        font-size: 11px;
                        background: #c1c1c1;
                        padding: 1px;
                        border-radius: 3px;
                    }
                }
            }
        }

        .comment-box{
            margin-left:4rem;
            form>input{
                margin-top: 10px;
                width: 100px;
                height: 25px;
            }
        }

        .answer-comment {
            margin-top: 10px;
            margin-left: 3rem;

            .answer {
                padding: 1rem;
                border-bottom: 1px solid #ece0e0;
                .comment-user {
                    img {
                        width: 30px;
                        height: 30px;
                    }

                    span {
                        font-size: 15px;
                        position: absolute;
                        margin: 4px;
                    }
                }

                .comment-answer {
                    padding-left: 2.2rem;
                    
                }

                .comment-edit {
                    display: flex;
                    justify-content: left;
                    width: 50%;

                    .edit {
                        width: 55%;
                        button {
                            border: 0;
                            background-color: white;
                            margin-left: 1.8rem;
                            font-size: 12px;
                            color: blue;
                        };
                    }

                    .reply {
                        display: flex;
                        margin-top: 1px;
                        .reply-img {
                            width: 20px;
                            margin-left: 2rem;
                            height: 20px;
                            img {
                                width: 100%;
                            }
                            span {
                                position: absolute;
                                margin-left: 8px;
                                font-size: 12px;
                                margin-top: 3px;
                            }
                        }


                    }

                    .delete {
                        width: 25%;
                        form > input[type="submit"] {
                            border: 0;
                            background: white;
                            font-size: 12px;
                            color: red;
                        }
                    };

                }

                .update-form {
                    //display: none;
                    //width: 350px;
                    margin-top:10px;
                    .modal-content {
                        position: relative;
                        background-color: #3c403c;
                        margin: 0 0 0 10%;
                        padding: 0;
                        //border: 1px solid #888;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        animation-name: animatetop;
                        animation-duration: 0.4s;

                        @keyframes animatetop {
                            from {
                                top: -300px;
                                opacity: 0
                            }
                            to {
                                top: 0;
                                opacity: 1
                            }
                        }
                        .modal-header {
                            padding: 0 8px;
                            background-color: #3c403c;
                            color: white;
                            h3 {
                                margin: 0;
                            }

                            span{
                                float: right;
                                font-size: 22px;
                                color: red;
                            }

                        }

                        .modal-body {
                            background: white;
                            form {
                                input[type="submit"] {
                                   color:green;
                                   padding: 3px;
                                   width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            .reply-box {
                margin-top: 2rem;
                margin-left: 4rem;
                .comment-user {
                    .reply-image {
                        width: 100px;
                        height: 100px;
                        margin-left: 2.2rem;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    span {
                        font-size: 15px;
                        position: absolute;
                        margin: 4px;
                    }

                    .update-reply-form {
                        margin-top:10px;
                        .modal-content {
                            position: relative;
                            background-color: #3c403c;
                            margin: 0 0 0 5% !important;
                            padding: 0;
                            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                            animation-name: animatetop;
                            animation-duration: 0.4s;
    
                            @keyframes animatetop {
                                from {
                                    top: -300px;
                                    opacity: 0
                                }
                                to {
                                    top: 0;
                                    opacity: 1
                                }
                            }
                            .modal-header {
                                padding: 0 8px;
                                background-color: #3c403c;
                                color: white;
                                h3 {
                                    margin: 0;
                                }
    
                                .close{
                                    float: right;
                                    font-size: 22px;
                                    color: red;
                                    position:relative !important;
                                    margin:0 !important;
                                }
    
                            }
    
                            .modal-body {
                                background: white;
                                form {
                                    input[type="submit"] {
                                       color:green;
                                       padding: 3px;
                                       width: 100%;
                                    }
                                }
                            }
                        }
                    }


                }

                .reply-comment-edit {
                    display: flex;
                    justify-content: left;
                    width: 50%;
                    margin-top: 1rem;

                    .reply-edit {
                        width: 25%;
                        button {
                            border: 0;
                            background-color: white;
                            margin-left: 1.8rem;
                            font-size: 12px;
                            color: blue;
                        };

                        
                    }
                    .reply-delete {
                        width: 25%;
                        form {
                            border: 0;
                            margin-top: -5px;
                            .delete-form {
                                border: 0;
                                background: white;
                                font-size: 12px;
                                color: red;
                                margin-left: 1rem;
                                width: 45px;
                            }
                        }

                    };

                }
            }
        }
    }

    .other{
       border-top:1px solid #cccccc;
       border-left:1px solid #cccccc;

       h3{
        text-align: center;
        margin: 5px 0px;
        font-family: sans-serif;
        border-bottom: 1px solid #cccccc;
        height: 30px;
       }

       .problem{
           .data{
                padding: 0px 0px 0px 15px;
           }
       }
    }
}
