.register {
    background: #5e85863b;
    height: 90vh;
    position: fixed;
    width: 100vw;
    .register-form {
        width: 50%;
        margin: 7% auto auto;
        background: white;
        padding: 5%;
        box-shadow: 0 2px 13px -3px rgba(71, 71, 71, 0.67);
    }
}
