@import url(https://fonts.googleapis.com/css?family=Nunito);.login {
  background: #5e85863b;
  height: 90vh;
  position: fixed;
  width: 100vw;
}

.login .login-form {
  width: 50%;
  margin: 10% auto auto;
  background: white;
  padding: 5%;
  box-shadow: 0 2px 13px -3px rgba(71, 71, 71, 0.67);
}

.register {
  background: #5e85863b;
  height: 90vh;
  position: fixed;
  width: 100vw;
}

.register .register-form {
  width: 50%;
  margin: 7% auto auto;
  background: white;
  padding: 5%;
  box-shadow: 0 2px 13px -3px rgba(71, 71, 71, 0.67);
}

body {
  width: 100%;
  margin: 0 auto;
}

#app nav {
  background: rgba(144, 144, 209, 0.57);
  background: radial-gradient(circle farthest-side at bottom right, rgba(144, 144, 209, 0.57) 0%, #1da5cc 80%);
  background: -moz-radial-gradient(circle farthest-side at bottom right, rgba(144, 144, 209, 0.57) 0%, #1da5cc 80%);
}

#app nav .container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

#app nav .container a {
  text-decoration: none;
  color: white;
  margin: 1rem 0 1rem 3rem;
}

#app nav .container .search {
  text-align: center;
}

#app nav .container .search input {
  width: 300px;
  margin-top: 2%;
  font-size: 12px;
  border-width: 0;
  border-bottom-width: 2px;
  border-color: #ffffff;
  background-color: rgba(96, 135, 144, 0);
  color: #ffffff;
  border-style: solid;
  border-radius: 0;
}

#app nav .container .search input:focus,
#app nav .container .search input:active {
  outline: none;
  padding-top: 2%;
}

#app nav .container .search button {
  background-image: url("/icons/icons8-search-64.png");
  width: 30px;
  height: 30px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #63b0d8;
  margin-top: 5px;
  border: 0;
  margin-left: 5px;
  cursor: move;
}

#app nav .container .nav-login ul {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem 0 0;
  list-style: none;
}

#app nav .container .nav-login ul li {
  margin-right: 2rem;
}

#app nav .container .nav-login ul li a {
  text-decoration: none;
  color: white;
}

#app nav .container .nav-login ul li .user-profile {
  display: flex;
  margin-top: -1rem;
  margin-left: 9rem;
}

#app nav .container .nav-login ul li .user-profile a {
  margin: 0 auto;
  padding-top: 1rem;
}

#app nav .container .nav-login ul li .user-profile .drop-down {
  padding-top: 0.9rem;
  cursor: move;
}

#app nav .container .nav-login ul li .user-profile .down > img {
  width: 25px;
  height: 25px;
}

#app nav .container .nav-login ul li .user-profile .up {
  position: absolute;
  padding-left: 8.4rem;
  padding-top: 17px;
  display: none;
}

#app nav .container .nav-login ul li .user-profile .up img {
  width: 20px;
  height: 20px;
}

#app nav .container .nav-login ul li .user-logout {
  position: absolute;
  background: #5e858657;
  width: 100px;
  height: 30px;
  text-align: center;
  padding-top: 8px;
  margin-top: 10px;
  margin-left: 9rem;
  display: none;
}

#app nav .container .nav-login ul li .user-logout a {
  margin: 0 auto;
}

#app .second-nav > .nav-list ul {
  list-style: none;
  padding-left: 3rem;
  display: inline-flex;
  justify-content: space-around;
}

#app .second-nav > .nav-list ul li > a {
  text-decoration: none;
  color: #948b8b;
  padding-right: 2rem;
}

.search-list .item {
  border-top: 2px double #d8cbcb;
  z-index: 5;
  background: white;
  position: relative;
}

.search-list .item .item-list {
  padding: 1% 1% 1% 4%;
}

.search-list .item .item-list a {
  text-decoration: none;
}

.search-list .item .item-list a h4,
.search-list .item .item-list a p {
  margin: 0;
}

.search-list .item .item-list a p {
  font-size: 12px;
  opacity: 0.8;
}

.latest-post {
  background: #5e85863b;
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
}

.latest-post .alert-success {
  position: absolute;
  text-align: center;
  margin: 10px 5rem 0 7rem;
  width: 80%;
  background: #5cb85c;
  color: white;
}

.latest-post .latest {
  margin: 3rem 1rem 3rem 3rem;
}

.latest-post .latest .post {
  background: white;
  margin-bottom: 3px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.latest-post .latest .post .user-profile {
  width: 35px;
  height: 35px;
}

.latest-post .latest .post .user-profile img {
  width: 100%;
  border: 1px solid gray;
  border-radius: 50%;
}

.latest-post .latest .post .post-list {
  margin-left: 1rem;
}

.latest-post .latest .post .post-list a {
  text-decoration: none;
}

.latest-post .latest .post .post-list .post-header {
  cursor: move;
}

.latest-post .latest .post .post-list .post-header p,
.latest-post .latest .post .post-list .post-header h3 {
  margin: 0;
}

.latest-post .latest .post .post-list .post-body {
  width: 50vw;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 5px;
}

.latest-post .latest .post .post-list .post-body .comment-vote {
  display: flex;
  flex-wrap: nowrap;
}

.latest-post .latest .post .post-list .post-body .comment-vote .comment,
.latest-post .latest .post .post-list .post-body .comment-vote .vote {
  width: 50%;
}

.latest-post .latest .post .post-list .post-body .comment-vote .comment img,
.latest-post .latest .post .post-list .post-body .comment-vote .vote img {
  position: absolute;
  cursor: move;
  z-index: 0;
}

.latest-post .latest .post .post-list .post-body .comment-vote .comment span,
.latest-post .latest .post .post-list .post-body .comment-vote .vote span {
  float: right;
  position: relative;
  margin-right: 8.5rem;
}

.latest-post .latest .post .post-list .post-body .comment-vote .comment form,
.latest-post .latest .post .post-list .post-body .comment-vote .vote form {
  position: absolute;
  width: 25px;
  z-index: 1;
}

.latest-post .latest .post .post-list .post-body .comment-vote .comment form input[type=submit],
.latest-post .latest .post .post-list .post-body .comment-vote .vote form input[type=submit] {
  width: 25px;
  opacity: 0;
  cursor: move;
}

.latest-post .latest .post .post-list .post-body .edit-delete {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.latest-post .latest .post .post-list .post-body .edit-delete .edit {
  margin-right: 1rem;
  border: 1px solid #ccc;
  width: 54px;
  text-align: center;
  height: 21px;
  border-radius: 5px;
}

.latest-post .latest .post .post-list .post-body .edit-delete .delete > form input {
  margin-right: 1rem;
  background: white;
  color: red;
  border-radius: 5px;
}

.latest-post .latest .post .post-list .add-comment {
  display: none;
  width: 60%;
  height: 65px;
  margin-top: 6px;
}

.latest-post .latest .post .post-list .add-comment form {
  border: 1px solid #dad3d3;
  width: 90%;
  height: 34px;
  border-radius: 5px;
  padding: 1px;
}

.latest-post .latest .post .post-list .add-comment form textarea {
  resize: none;
  width: 85%;
  height: 28px;
  border: 0;
  padding: 3px;
}

.latest-post .latest .post .post-list .add-comment form label img {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 1;
}

.latest-post .latest .post .post-list .add-comment form label input[type=file] {
  position: absolute;
  z-index: 2;
  width: 43px;
  height: 35px;
  margin-left: -5px;
  opacity: 0;
}

.latest-post .latest .post .post-list .add-comment .preview {
  display: none;
  position: relative;
  width: 30px;
  float: right;
  margin-top: -2.2rem;
  margin-right: -5px;
  height: 30px;
}

.latest-post .latest .post .post-list .add-comment .preview img {
  width: 100%;
  height: 100%;
}

.latest-post .info {
  background: white;
  margin: 3rem 3rem 3rem 0;
}

.latest-post .info h4 {
  margin: 10px 0 0 10px;
}

.latest-post .info .popular-post {
  background: white;
  margin: 0.5rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 250px;
  overflow-y: hidden;
  border-bottom: 1px solid #d9e2e3;
}

.latest-post .info .popular-post .post-list {
  margin-top: 5px;
  background: #f9feff;
}

.latest-post .info .popular-post .post-list a {
  text-decoration: none;
  font-size: 13px;
}

.latest-post .info .popular-post .post-list .post-header {
  cursor: move;
  padding: 5px;
}

.latest-post .info .popular-post .post-list .post-header p,
.latest-post .info .popular-post .post-list .post-header h3 {
  margin: 0;
}

.latest-post .info .top-user {
  height: 297px;
  overflow-y: scroll;
}

.latest-post .info .top-user h4 {
  margin: 10px 0 0 10px;
}

.latest-post .info .top-user .top {
  background: white;
  margin: 0.5rem;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.latest-post .info .top-user .top .user-profile {
  width: 35px;
  height: 35px;
}

.latest-post .info .top-user .top .user-profile img {
  width: 100%;
  border: 1px solid black;
  border-radius: 50%;
}

.latest-post .info .top-user .top .post-list {
  margin-top: 5px;
  margin-left: 5px;
}

.latest-post .info .top-user .top .post-list a {
  text-decoration: none;
  font-size: 13px;
}

.latest-post .info .top-user .top .post-list .post-header {
  cursor: move;
}

.latest-post .info .top-user .top .post-list .post-header p,
.latest-post .info .top-user .top .post-list .post-header h3 {
  margin: 0;
}

.infinite-scroll {
  margin-left: 2rem;
}

.infinite-scroll .post {
  background: white;
  margin-bottom: 3px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.infinite-scroll .post .user-profile {
  width: 35px;
  height: 35px;
}

.infinite-scroll .post .user-profile img {
  width: 100%;
  border: 1px solid gray;
  border-radius: 50%;
}

.infinite-scroll .post .post-list {
  margin-left: 1rem;
}

.infinite-scroll .post .post-list a {
  text-decoration: none;
}

.infinite-scroll .post .post-list .post-header {
  cursor: move;
}

.infinite-scroll .post .post-list .post-header p,
.infinite-scroll .post .post-list .post-header h3 {
  margin: 0;
}

.infinite-scroll .post .post-list .post-body {
  width: 50vw;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 5px;
}

.infinite-scroll .post .post-list .post-body .comment-vote {
  display: flex;
  flex-wrap: nowrap;
}

.infinite-scroll .post .post-list .post-body .comment-vote .comment,
.infinite-scroll .post .post-list .post-body .comment-vote .vote {
  width: 50%;
}

.infinite-scroll .post .post-list .post-body .comment-vote .comment img,
.infinite-scroll .post .post-list .post-body .comment-vote .vote img {
  position: absolute;
  cursor: move;
  z-index: 0;
}

.infinite-scroll .post .post-list .post-body .comment-vote .comment span,
.infinite-scroll .post .post-list .post-body .comment-vote .vote span {
  float: right;
  position: relative;
  margin-right: 8.5rem;
}

.infinite-scroll .post .post-list .post-body .comment-vote .comment form,
.infinite-scroll .post .post-list .post-body .comment-vote .vote form {
  position: absolute;
  width: 25px;
  z-index: 1;
}

.infinite-scroll .post .post-list .post-body .comment-vote .comment form input[type=submit],
.infinite-scroll .post .post-list .post-body .comment-vote .vote form input[type=submit] {
  width: 25px;
  opacity: 0;
  cursor: move;
}

.infinite-scroll .post .post-list .post-body .edit-delete {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.infinite-scroll .post .post-list .post-body .edit-delete .edit {
  margin-right: 1rem;
  border: 1px solid #ccc;
  width: 54px;
  text-align: center;
  height: 21px;
  border-radius: 5px;
}

.infinite-scroll .post .post-list .post-body .edit-delete .delete > form input {
  margin-right: 1rem;
  background: white;
  color: red;
  border-radius: 5px;
}

.infinite-scroll .post .post-list .add-comment {
  display: none;
  width: 60%;
  height: 65px;
  margin-top: 6px;
}

.infinite-scroll .post .post-list .add-comment form {
  border: 1px solid #dad3d3;
  width: 90%;
  height: 34px;
  border-radius: 5px;
  padding: 1px;
}

.infinite-scroll .post .post-list .add-comment form textarea {
  resize: none;
  width: 85%;
  height: 28px;
  border: 0;
  padding: 3px;
}

.infinite-scroll .post .post-list .add-comment form label img {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 1;
}

.infinite-scroll .post .post-list .add-comment form label input[type=file] {
  position: absolute;
  z-index: 2;
  width: 43px;
  height: 35px;
  margin-left: -5px;
  opacity: 0;
}

nav ul {
  list-style: none !important;
  display: inline-flex !important;
}

nav ul li {
  width: 30px !important;
}

.post-detail {
  background: #5e85863b;
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.post-detail .post {
  margin: 3rem 1rem 3px 3rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: white;
  padding: 1rem;
  flex-direction: row;
}

.post-detail .post .user-profile {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.post-detail .post .user-profile img {
  width: 100%;
  border: 1px solid gray;
  border-radius: 50%;
}

.post-detail .post .user-profile span {
  position: absolute;
  margin-top: -45px;
  margin-left: 60px;
}

.post-detail .post .post-list {
  margin-left: 1rem;
  width: 37rem;
}

.post-detail .post .post-list a {
  text-decoration: none;
}

.post-detail .post .post-list .post-header {
  cursor: move;
}

.post-detail .post .post-list .post-header p,
.post-detail .post .post-list .post-header h3 {
  margin: 0;
}

.post-detail .post .post-list .post-header p span,
.post-detail .post .post-list .post-header h3 span {
  font-size: 11px;
  background: #c1c1c1;
  padding: 1px;
  border-radius: 3px;
}

.post-detail .post .post-list .post-header .post-img {
  width: 500px;
  height: 300px;
  position: relative;
}

.post-detail .post .post-list .post-header .post-img img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.post-detail .post .post-list .post-body {
  width: 50vw;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 5px;
}

.post-detail .post .post-list .post-body .comment-vote {
  display: flex;
  flex-wrap: nowrap;
}

.post-detail .post .post-list .post-body .comment-vote .comment,
.post-detail .post .post-list .post-body .comment-vote .vote {
  width: 50%;
}

.post-detail .post .post-list .post-body .comment-vote .comment img,
.post-detail .post .post-list .post-body .comment-vote .vote img {
  position: absolute;
}

.post-detail .post .post-list .post-body .comment-vote .comment span,
.post-detail .post .post-list .post-body .comment-vote .vote span {
  margin-left: 2rem;
}

.post-detail .post .post-list .post-body .comment-vote .comment form,
.post-detail .post .post-list .post-body .comment-vote .vote form {
  position: absolute;
  width: 25px;
  z-index: 1;
}

.post-detail .post .post-list .post-body .comment-vote .comment form input[type=submit],
.post-detail .post .post-list .post-body .comment-vote .vote form input[type=submit] {
  width: 25px;
  opacity: 0;
  cursor: move;
}

.post-detail .post .post-list .post-comment {
  margin-top: 10px;
  width: 420px;
}

.post-detail .post .post-list .post-comment form {
  border: 2px solid #dcdbdb;
  width: 23rem;
  border-radius: 5px;
  height: 2rem;
}

.post-detail .post .post-list .post-comment form textarea {
  resize: none;
  height: 26px;
  border: 0;
  padding: 5px 0 0 6px;
  width: 18rem;
}

.post-detail .post .post-list .post-comment form label img {
  position: absolute;
  width: 29px;
  margin-top: 2px;
  z-index: 1;
}

.post-detail .post .post-list .post-comment form label input[type=file] {
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 33px;
  opacity: 0;
}

.post-detail .post .post-list .post-comment form input[type=submit] {
  position: absolute;
  margin-left: 32px;
  margin-top: 2px;
  border: 0;
  background-color: white;
  background-image: url("/icons/icons8-email-send-50.png");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.post-detail .post .post-list .post-comment .preview {
  display: none;
  width: 35px;
  height: 35px;
  position: relative;
  float: right;
  margin-top: -2.2rem;
}

.post-detail .post .post-list .post-comment .preview img {
  width: 100%;
  height: 100%;
}

.post-detail .post .post-list .answer-comment {
  margin-top: 10px;
}

.post-detail .post .post-list .answer-comment .answer {
  padding: 1rem;
  border-bottom: 1px solid #ece0e0;
}

.post-detail .post .post-list .answer-comment .answer .comment-user img {
  width: 30px;
  height: 30px;
}

.post-detail .post .post-list .answer-comment .answer .comment-user span {
  font-size: 15px;
  position: absolute;
  margin: 4px;
}

.post-detail .post .post-list .answer-comment .answer .comment-answer {
  padding-left: 2.2rem;
}

.post-detail .post .post-list .answer-comment .answer .comment-answer p {
  margin: 0;
  font-size: 14px;
}

.post-detail .post .post-list .answer-comment .answer .comment-answer .comment-image {
  width: 100px;
  height: 100px;
}

.post-detail .post .post-list .answer-comment .answer .comment-answer .comment-image img {
  width: 100%;
  height: 100%;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit {
  display: flex;
  justify-content: left;
  width: 50%;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .edit {
  width: 25%;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .edit button {
  border: 0;
  background-color: white;
  margin-left: 1.8rem;
  font-size: 12px;
  color: blue;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .edit .update-form {
  display: none;
  width: 350px;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .edit .update-form .modal-content {
  position: relative;
  background-color: #3c403c;
  margin: 0 0 0 10%;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .edit .update-form .modal-content .modal-header {
  padding: 0 8px;
  background-color: #3c403c;
  color: white;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .edit .update-form .modal-content .modal-header h3 {
  margin: 0;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .edit .update-form .modal-content .modal-header .close {
  color: white;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .edit .update-form .modal-content .modal-header .close:hover,
.post-detail .post .post-list .answer-comment .answer .comment-edit .edit .update-form .modal-content .modal-header .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .edit .update-form .modal-content .modal-body {
  background: white;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .edit .update-form .modal-content .modal-body form textarea {
  width: 96%;
  margin: 1%;
  resize: none;
  background: #f7f7f7;
  height: 50px;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .edit .update-form .modal-content .modal-body form textarea:focus,
.post-detail .post .post-list .answer-comment .answer .comment-edit .edit .update-form .modal-content .modal-body form textarea:hover {
  outline: none;
  border-bottom: 1px solid green;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .edit .update-form .modal-content .modal-body form .comment-image,
.post-detail .post .post-list .answer-comment .answer .comment-edit .edit .update-form .modal-content .modal-body form .file {
  margin-left: 1%;
  width: 50px;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .edit .update-form .modal-content .modal-body form .comment-image img,
.post-detail .post .post-list .answer-comment .answer .comment-edit .edit .update-form .modal-content .modal-body form .file img {
  width: 100%;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .edit .update-form .modal-content .modal-body form input[type=submit] {
  margin-left: 1%;
  color: white;
  background: #8bd9e6;
  font-size: 12px;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .reply {
  display: flex;
  margin-top: 1px;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .reply .reply-img {
  width: 20px;
  margin-left: 2rem;
  height: 20px;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .reply .reply-img img {
  width: 100%;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .reply .reply-img span {
  position: absolute;
  margin-left: 8px;
  font-size: 12px;
  margin-top: 3px;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .delete {
  width: 25%;
}

.post-detail .post .post-list .answer-comment .answer .comment-edit .delete form > input[type=submit] {
  border: 0;
  background: white;
  font-size: 12px;
  color: red;
}

.post-detail .post .post-list .answer-comment .reply-box {
  margin-top: 2rem;
  margin-left: 4rem;
  display: none;
}

.post-detail .post .post-list .answer-comment .reply-box .comment-user .reply-image {
  width: 100px;
  height: 100px;
  margin-left: 2.2rem;
}

.post-detail .post .post-list .answer-comment .reply-box .comment-user .reply-image img {
  width: 100%;
  height: 100%;
}

.post-detail .post .post-list .answer-comment .reply-box .comment-user p {
  margin: 0 0 0 2.2rem;
  font-size: 14px;
}

.post-detail .post .post-list .answer-comment .reply-box .comment-user span {
  font-size: 15px;
  position: absolute;
  margin: 4px;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit {
  display: flex;
  justify-content: left;
  width: 50%;
  margin-top: 1rem;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit {
  width: 25%;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit button {
  border: 0;
  background-color: white;
  margin-left: 1.8rem;
  font-size: 12px;
  color: blue;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit .update-form {
  display: none;
  width: 350px;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit .update-form .modal-content {
  position: relative;
  margin: 5% 0 10% 10%;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit .update-form .modal-content .modal-header {
  padding: 0 8px;
  background-color: #3c403c;
  color: white;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit .update-form .modal-content .modal-header h3 {
  margin: 0;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit .update-form .modal-content .modal-header .close {
  color: white;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit .update-form .modal-content .modal-header .close:hover,
.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit .update-form .modal-content .modal-header .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit .update-form .modal-content .modal-body {
  background: white;
  height: 200px;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit .update-form .modal-content .modal-body form {
  width: 23rem;
  height: 2rem;
  border: 0;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit .update-form .modal-content .modal-body form textarea {
  width: 81%;
  margin: 1%;
  resize: none;
  background: #f7f7f7;
  height: 50px;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit .update-form .modal-content .modal-body form textarea:focus,
.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit .update-form .modal-content .modal-body form textarea:hover {
  outline: none;
  border-bottom: 1px solid green;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit .update-form .modal-content .modal-body form .comment-image,
.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit .update-form .modal-content .modal-body form .file {
  margin-left: 1%;
  width: 50px;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit .update-form .modal-content .modal-body form .comment-image img,
.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit .update-form .modal-content .modal-body form .file img {
  width: 100%;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-edit .update-form .modal-content .modal-body form input[type=submit] {
  margin-left: 1%;
  color: white;
  background: #8bd9e6;
  font-size: 12px;
  width: 50px;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-delete {
  width: 25%;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-delete form {
  border: 0;
  margin-top: -5px;
}

.post-detail .post .post-list .answer-comment .reply-box .reply-comment-edit .reply-delete form .delete-form {
  border: 0;
  background: white;
  font-size: 12px;
  color: red;
  margin-left: 1rem;
  width: 45px;
}

.post-detail .post .post-list .answer-comment .reply-box form {
  border: 2px solid #dcdbdb;
  width: 23rem;
  border-radius: 5px;
  height: 2rem;
  margin-top: 1rem;
}

.post-detail .post .post-list .answer-comment .reply-box form textarea {
  resize: none;
  height: 26px;
  border: 0;
  padding: 5px 0 0 6px;
  width: 18rem;
}

.post-detail .post .post-list .answer-comment .reply-box form label img {
  position: absolute;
  width: 29px;
  margin-top: 2px;
  z-index: 1;
}

.post-detail .post .post-list .answer-comment .reply-box form label input[type=file] {
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 33px;
  opacity: 0;
}

.post-detail .post .post-list .answer-comment .reply-box form input[type=submit] {
  position: absolute;
  margin-left: 32px;
  margin-top: 2px;
  border: 0;
  background-color: white;
  background-image: url("/icons/icons8-email-send-50.png");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.post-detail .post .post-list .answer-comment .reply-box .preview_reply {
  display: none;
  position: absolute;
  width: 30px;
  margin-top: -2.2rem;
  height: 30px;
  margin-left: 24rem;
}

.post-detail .post .post-list .answer-comment .reply-box .preview_reply img {
  width: 100%;
  height: 100%;
}

.post-detail .user-info {
  background: white;
  margin: 3rem 3rem 3rem 1rem;
}

.post-create {
  padding: 3rem;
}

.post-create h3 {
  margin: 0 0 0 9rem;
}

.post-create form {
  margin-top: 2rem;
}

.post-create form .text-danger {
  margin-left: 4.5rem;
  color: red;
  font-size: 11px;
}

.post-create form .post-title input[type=text] {
  margin-left: 2.25rem;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #8dad8d;
}

.post-create form .post-content {
  display: flex;
  margin-top: 1rem;
}

.post-create form .post-content textarea {
  margin-left: 1rem;
  resize: none;
  width: 250px;
  height: 5rem;
  border-radius: 5px;
  border: 1px solid #8dad8d;
}

.post-create form .post-category {
  margin-top: 1rem;
}

.post-create form .post-category select {
  margin-left: 0.4rem;
  width: 255px;
  border-radius: 5px;
  border: 1px solid #8dad8d;
}

.post-create form .post-image {
  margin-top: 1rem;
}

.post-create form .post-image input[type=file] {
  margin-left: 1.2rem;
  width: 250px;
}

.post-create form .post-image .add-image {
  display: none;
  margin-left: 4.5rem;
  margin-top: 1rem;
  width: 150px;
  height: 150px;
}

.post-create form .post-image .add-image img {
  width: 100%;
  height: 100%;
}

.post-create form .post-save {
  display: flex;
  margin-top: 1rem;
  margin-left: 4.5rem;
}

.post-create form .post-save .save {
  margin-left: 2rem;
}

.post-create form .post-save .save input {
  width: 65px;
}

.post-edit form {
  width: 80%;
  margin: auto;
}

.post-edit form .post-title {
  width: 50%;
  margin: auto;
  padding: 20px 0 0;
  text-align: center;
}

.post-edit form .post-title input[type=text] {
  margin-left: 10px;
  width: 350px;
}

.post-edit form .post-content {
  width: 50%;
  margin: auto;
  text-align: center;
}

.post-edit form .post-content textarea {
  width: 350px;
  margin-left: 10px;
  height: 100px;
  resize: none;
}

.post-edit form .old-category {
  width: 50%;
  margin: auto;
  text-align: center;
}

.post-edit form .old-category select {
  width: 350px;
  margin-left: 10px;
}

.post-edit form .old-img {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 40% 60%;
  position: relative;
  padding: 10px 0 0;
}

.post-edit form .old-img img {
  margin-left: 4rem;
  width: 70%;
}

.post-edit form .old-img .post-image {
  margin-left: 1rem;
}

.post-edit form .post-save {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: left;
  padding: 20px 0;
}

.post-edit form .post-save .cancle {
  width: 100px;
  margin-left: 4rem;
  text-align: center;
  border: 1px solid #53a7ce;
  border-radius: 5px;
}

.post-edit form .post-save .cancle a {
  text-decoration: none;
  font-size: 14px;
}

.post-edit form .post-save .save {
  width: 100px;
  text-align: center;
  border: 1px solid #53a7ce;
  margin-left: 1rem;
  border-radius: 5px;
}

.post-edit form .post-save .save input[type=submit] {
  background: white;
  border: 0;
  color: #5840a8;
  font-size: 14px;
}

.login-user {
  background: #5e85863b;
  height: 100vh;
  width: 100vw;
}

.login-user nav {
  background: rgba(144, 144, 209, 0.57);
  background: radial-gradient(circle farthest-side at bottom right, rgba(144, 144, 209, 0.57) 0%, #1da5cc 80%);
  background: -moz-radial-gradient(circle farthest-side at bottom right, rgba(144, 144, 209, 0.57) 0%, #1da5cc 80%);
}

.login-user nav .container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.login-user nav .container a {
  text-decoration: none;
  color: white;
  margin: 1rem 0 1rem 3rem;
}

.login-user nav .container .nav-login ul {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem 0 0;
  list-style: none;
}

.login-user nav .container .nav-login ul li {
  width: 130px !important;
}

.login-user nav .container .nav-login ul li a {
  text-decoration: none;
  color: white;
}

.login-user h2 {
  color: white;
  margin: 5px 0 5px 15px;
}

.login-user .profile {
  display: flex;
  margin: 5px 5px 0;
  background-color: white;
}

.login-user .profile .image {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.login-user .profile .image img {
  width: 100%;
  border: 2px solid #9e9191;
  border-radius: 50%;
}

.login-user .profile .name {
  padding: 20px;
}

.login-user .profile .name p {
  margin: 0;
  font-size: 20px;
}

.login-user .profile .name p span {
  font-size: 15px;
  font-style: italic;
  color: #776868;
}

.login-user .profile .total-post {
  padding: 25px;
}

.login-user .profile .total-post p {
  margin: 0;
}

.login-user .profile .total-post p span {
  color: #776868;
}

.login-user .profile button {
  border-radius: 5px;
  background: white;
  color: slategrey;
  padding: 3px;
  width: 80px;
}

.login-user .profile button:focus {
  background: white;
  border: 0;
}

.login-user .update-form {
  background: black;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.login-user .update-form .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.login-user .update-form .modal-content .modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.login-user .update-form .modal-content .modal-header h3 {
  margin: 0;
}

.login-user .update-form .modal-content .modal-header .close {
  color: white;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.login-user .update-form .modal-content .modal-header .close:hover,
.login-user .update-form .modal-content .modal-header .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.login-user .update-form .modal-content .modal-body form {
  width: 50%;
  margin: 25px auto auto;
}

.login-user .update-form .modal-content .modal-body form input[type=text] {
  border: 0;
  border-bottom: 1px solid gray;
  padding: 3px;
}

.login-user .update-form .modal-content .modal-body form input[type=text]:focus,
.login-user .update-form .modal-content .modal-body form input[type=text]:hover {
  outline: none;
  border-bottom: 1px solid green;
}

.login-user .update-form .modal-content .modal-body form input[type=email] {
  border: 0;
  border-bottom: 1px solid gray;
  padding: 3px;
}

.login-user .update-form .modal-content .modal-body form input[type=email]:focus,
.login-user .update-form .modal-content .modal-body form input[type=email]:hover {
  outline: none;
  border-bottom: 1px solid green;
}

.login-user .update-form .modal-content .modal-body form .user-image {
  width: 50%;
  top: 0;
  left: 0;
}

.login-user .update-form .modal-content .modal-body form .user-image img {
  width: 100%;
}

.login-user .about-user {
  margin: 5px;
  display: grid;
  grid-template-columns: 70% 30%;
}

.login-user .about-user .user-post {
  background: white;
  margin-right: 5px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.login-user .about-user .user-post h3 {
  margin: 1rem 0 0 1rem;
}

.login-user .about-user .user-post .created-post {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 0.5rem 0.5rem 0.5rem 0;
  border-bottom: 2px solid #b19fb1;
}

.login-user .about-user .user-post .created-post .left {
  margin-left: 1rem;
}

.login-user .about-user .user-post .created-post .left a {
  text-decoration: none;
}

.login-user .about-user .user-post .created-post .left a h4 {
  margin: 0;
}

.login-user .about-user .user-post .created-post .left a h4 span {
  background: #c3bcbc;
  font-size: 11px;
  padding: 1px;
  color: black;
}

.login-user .about-user .user-post .created-post .left a p {
  margin: 0;
}

.login-user .about-user .user-post .created-post .right {
  display: flex;
  flex-direction: column;
}

.login-user .about-user .user-post .created-post .right .edit {
  width: 50px;
  text-align: center;
  border-radius: 5px;
  margin-right: 5px;
  background: #60caff;
  align-self: flex-end;
}

.login-user .about-user .user-post .created-post .right .edit a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.login-user .about-user .user-post .created-post .right .delete {
  width: 50px;
  text-align: center;
  background: red;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
  align-self: flex-end;
}

.login-user .about-user .user-post .created-post .right .delete form > input[type=submit] {
  border: 0;
  font-size: 11px;
  color: white;
  background: red;
}

.login-user .about-user .your-save-post {
  background: white;
}

.login-user .about-user .your-save-post h3 {
  margin: 0 0 0 0.5rem;
}

.login-user .about-user .your-save-post .save-post {
  padding: 0.5rem;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}

.login-user .about-user .your-save-post .save-post .user-profile {
  width: 35px;
  height: 35px;
}

.login-user .about-user .your-save-post .save-post .user-profile img {
  width: 100%;
}

.login-user .about-user .your-save-post .save-post .post-list {
  margin-left: 0.5rem;
}

.login-user .about-user .your-save-post .save-post .post-list a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.login-user .about-user .your-save-post .save-post .post-list .post-header {
  cursor: move;
}

.login-user .about-user .your-save-post .save-post .post-list .post-header p,
.login-user .about-user .your-save-post .save-post .post-list .post-header h3 {
  margin: 0;
}

